html, body {
    background-color: #ffe9d9;
}

select {
    max-width: 250px;
}

#title {
    height: 10vh;
    text-align: center;
    font-family: monospace;
    font-size: 6vh;
    margin-bottom: 0;
}

.sub_title_row {
    display: flex;
    align-items: center;
}

#sub_title {
    text-align: center;
    font-family: monospace;
    font-size: 3vh;
    color: #696969;
}

.pure-g {
    align-items: center;
}

.row {
    max-width: 80vw;
    min-height: 60vh;
    padding-bottom: 5vh;
    display: flex;
    align-items: center;
}

.vega-bindings {
    font-family: 'Poppins', sans-serif;
    font-weight: 300;
}

#whole_page {
    display: flex;
    flex-direction: row;
}

.pad {
    width: 20vw;
    top: 0;
    bottom: 0;
    background-color: #ace9fc;
}

.side_pad {
    width: 15vw;
}

.graph {
    width: 25vw;
    min-width: 20em;
    min-height: 27em;
}

.line_chart {
    width: 38vw;
}

.text_col {
    align-self: flex-start;
    align-items: self-start;
    font-family: 'Poppins', sans-serif;
    font-weight: 300;
    font-size: 1.4rem;
    width: 20vw;
    min-width: 10em;
}

#map_row {
    justify-content: center;
}
